.dropdownMenu {
  width: 260px;
  padding: 10px;
  list-style: none;
  border: 2px solid #ff9a62;
  border-radius: 20px;
  box-sizing: border-box;
  display: grid;
  grid-template-rows: auto;
  gap: 8px;
  position: absolute;
}

.dropdownMenu_hide {
  display: none;
}
